@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    background-color: rgba(245, 245, 245, 0.836);
    font-family: 'Poppins', sans-serif;   
    }
*   {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;   
    }
                /* NavBar */
nav{
    background: white;
    height: 130px;
    position: sticky;
    top: 0;
    z-index: 100;  
    width: 100%;
    }
                /* Logo image */
nav img{
    left: 10%;
    position: absolute;
    top: 20px;
    width: 165px;
    z-index: 1;
    }
                /* Top__nav */
nav #top__nav{
            float: right;
            margin-right: 8em;
    }
nav #top__nav li{
            display: inline-block;
            line-height: 45px;
    }       
nav #top__nav li a{
            color: black;
            font-size: 15px;
            font-weight: bold;
            padding: 5px 0;
            margin: 0 10px;
            position: relative;
            text-decoration: none;
    }           
nav #top__nav li a:before{
    background: red;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transform-origin: right;
    transform: scale(0);
    transition: transform .4s linear;
    width: 100%;
    }
nav #top__nav li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
    }
                    /* Lower NavBar */
nav #new{
    float: right;
    margin-right: -17.5em;
    }
nav #new li{
    display: inline-block;
    line-height: 130px;
    margin: 0 20px;
    }
nav #new li a{
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 0;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    }
nav #new li a:before{
    background: red;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transform-origin: right;
    transform: scale(0);
    transition: transform .4s linear;
    width: 100%;
    }
nav #new li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
    }
                /* navbar smaller screen icon controller */
label #btn,
label #cancel{
    color: black;
    cursor: pointer;
    display: none;
    float: right;
    font-size: 30px;
    line-height: 110px;
    margin-right: 40px;
    }
#check{
    display: none;
    }
@media (max-width: 1350px){
    label #btn {
        display: block;
    }
    #main{
        width: 1000px;
        height: 550px;
    }
    #new{
        background: rgba(255, 255, 255, 0.795);
        left: -100%;
        position: fixed;
        text-align: center;
        top: 6.9em;
        transition: all .8s ease;
        width: 100%;
        z-index: 5;
    }
    nav #new li{
        display: block;
        margin: 50px 0;
        line-height: 17px;
    }
    }
    nav #new li a{
        font-size: 15px;
    }
#check:checked ~ #new{
    left: 0;
    }
#check:checked ~ label #btn{
    display: none;
    }
#check:checked ~ label #cancel{
    display: block;
    }    
@media(max-width: 1100px){
    #main{
        width: 700px;
        height: 350px;
    }
   .container__demo{
       max-width: auto;
   } 
}
@media(max-width:700px) {
        nav img{
            left: 4%;
            position: absolute;
            top: 40px;
            width: 165px;
            z-index: 1;
        }
        #main{
            width: 500px;
            height: 250px;
        }        
    }
@media(max-width:550px){
    #main{
        width: 400px;
    }
}
                    /* Navbar ended here */
                    /* Body contents are starting here */
h1{
    text-align: center;
    margin-bottom: 10px;
}
h1:hover{
    color: red;
    background-color: white;
}
.finance{
    margin: 0 auto;
    max-width: 1600px;
}
.financeText{
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 20px;
}
.table1 {
    border-collapse: collapse;
    width: 50%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}
td:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}  
tr:nth-child(even) {
    background-color: white;
  }
#total{
    text-transform: uppercase;
    font-weight: bold;
}


                    /* Clients Profile start here */
.clients{
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    background: white;
    margin-bottom: 100px;
}
.clientsProfile{
    box-shadow: 0 30px 45px black;
    width: 430px;
    height: 490px;  
    padding: 50px;
    background-color: white;
    align-items: center;
    margin: 20px; 
   
}                    
.clientsProfile img{
    width: 350px;
    height: 250px;
    box-shadow: 0 30px 45px red;
}

.clientsProfile1{
    box-shadow: 0 30px 45px black;
    width: 430px;
    height: 490px; 
    padding: 50px;
    background-color: white;
    align-items: center;
    margin: 20px;   
}                    
.clientsProfile1 img{
    width: 350px;
    height: 250px;
    box-shadow: 0 30px 45px red;   
}

.clientsProfile2{
    box-shadow: 0 30px 45px black;
    width: 430px;
    height: 490px;  
    padding: 50px;
    background-color: white;
    align-items: center;
    margin: 20px;    
}                    
.clientsProfile2 img{
    width: 350px;
    height: 250px;
    box-shadow: 0 30px 45px red;   
}
                    /* Financial Statements start Reports */
.financialStatements{
    width: 700px;
    border-radius: 20px;
    margin:0 auto;
    background: white;
    margin-bottom: 30px;
}
.statements h1:hover{
    text-decoration: underline;
    color: red;
}
#statements{
    margin-top: 15px;
}
#statements:hover{
    color: red;
    cursor: pointer;
}
.statements{
    display: flex;
    align-items: center;
    flex-direction: column;  
}
.statements ul li a{
    text-decoration: none;
    color: black;
}
.statements ul li a:hover{
    background-color: black;
    color: white;
}
.statements ul li i{
    margin-right: 7px;
}
.statements ul li i:hover{
    background-color: greenyellow;
    border-radius: 50%;
    cursor: pointer;
}
#statements2020:hover{
    background-color: rgb(174, 227, 243);
}
#statements2019:hover{
    background-color: rgb(205, 233, 241);
}
#statementsmix:hover{
    background-color: rgb(229, 244, 248);
    
}

                    

                    /* Financial Statements end Reports */
                    /* Clients Profile start here */
                    /* Body contents are end here */
                    /* Footer Start here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    }
.footerContainer__top{
    max-width: auto;
    margin-right: 7%;
    margin-left: 7%;
    margin-bottom: 10px; 
    background-color: red;  
    }
.footerContainer__bottom{
    max-width: 1300px;
    margin: auto;
    margin-bottom: 10px;   
    }   
.footerIcon__bottom__icon{
    max-width: 1300px;
    margin: auto;
    margin-bottom: 10px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    }
.footer{
    background-color: rgb(54, 53, 53);
    bottom: auto;
    margin: 5px 0;
    height: relative;
    position: absolute;
    width: 100%; 
    border-bottom: ridge 5px black;   
    }
                    /* icons and additional design start here*/
.footerIcon__top{
    align-items:center;
    display: flex;
    flex: 1;
    height: 120px;
    justify-content: space-evenly;
    }
.footer__text{
   margin-bottom: 100px;
    text-align: center;
    width: 300px;
    height: 80px;
    }
.footer__text a{
    text-decoration: none;
    }
.footer__text i{
    align-content: center;
    text-align: center;
    font-size: 25px;
    width:55px;
    height: 55px;
    color: white;
    background-color: red;
    border: 10px solid red;
    border-radius: 50%;
    }
.footerIcon__top__icon{
    margin-bottom: 10px;
    align-items: center; 
    }
#text{
    background-color: red;
    color: white;
    box-shadow: 0px 1px rgb(138, 4, 4);
    height: 50px;
    position: relative;
    width: auto;
    box-shadow: 0px 5px 4px 0px black;
    margin-bottom: 8px;
    }
#plusSign{
    width: 30px;
    margin: 0 auto;
    background-color: black; 
    }
#plusSign a{
    color: white;
    }
#plusSign abbr, acronym{
    cursor: progress;
    color: white;
}
                    /* Bottom nav with link */
#bottom__nav li{
    display: inline-block;
    }
    #bottom__nav li a{
    color: #dad6d8;
    padding: 5px 0;
    position: relative;
    text-decoration: none;
    font-size: 16px;
    }
#bottom__nav{
    display: flex;
    flex: 1;
    text-align: center;
    }
#bottom__nav a:before{
    background: red;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transform-origin: right;
    transform: scale(0);
    transition: transform .4s linear;
    width: 100%;
    }
#bottom__nav a:hover:before{
    transform: scaleX(1);
    transform-origin: left;    
    }
                    /* Icon and additional design finished here  */
#social__links a{
    background-color: white;
    border-radius: 50%;
    color: black;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin: 0 10px 0px 0;
    text-align: center;
    transition: all 0.5s ease;
    width: 35px;  
    }
.social{
    float: right;
    }
#social__links a:hover{
    color: #384f8a;
    background-color: red;
    }
.col-md-1{
    color: white;
    text-align: right;  
    }
.nav__bottom{
    color: white;
    font-size: 13px;
    font-style: italic;
    text-align: center;
    }
.footerLogo{
    position: relative;
    width: 150px;
    float: right;
    margin-top: -15px;   
    }
.footerLogo img:hover{
    background-color: white;
    }
#text p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: italic;
    }
@media(max-width: 1100px) {
    .footerContainer__top{
        max-width: auto;
        margin-right: 3%;
        margin-left: 3%;
    }
}
@media(max-width:800px){
.footerContainer__top{
    max-width: auto;
    margin-right: 2%;
    margin-left: 2%;
    }
#text h3{
    font-size: 16px;
}
#text p{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: italic;
    } 
#bottom__nav li a{
    font-size: 10px;
}
.nav__bottom{
    font-size: 10px;
}
}
@media(max-width:690px){
#text h3{
    font-size: 15px;
}
#text p{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-style: italic;
} 
}