/* ============================================================================
                    Global Variable start here
=============================================================================*/
:root{
    --title-font: 'Roboto Slab', serif !important;
    --body-font: 'Poppins', sans-serif !important;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
a{
    text-decoration: none !important;
}
p{
    font-family: var(--body-font) !important;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--title-font) !important;
}
ul li{
    list-style: none !important;
}
/* ============================================================================
                    Global Variable end here
=============================================================================*/

/* ============================================================================
                    Header part end here
=============================================================================*/
header .container{
    background: black !important;
    padding: 5px 0;
}
header .header__left{
    color: white !important;
    font-family: var(--body-font);
    font-size: 13px;
    margin-top: 2px;
    font-weight: 500;
}
header .header__left i{
    padding: 0px 8px;
}

header .header__right{
    color: white !important;
    text-align: right;
    font-family: var(--body-font);
    font-size: 13px;
    margin-top: 2px;
    font-weight: 500;
}
header .header__right a{
    color: white;
    padding: 15px;
}
/* ============================================================================
                    Header part end here
=============================================================================*/
/* ============================================================================
                    Nav part start here
=============================================================================*/
.navbar{
    font-family: var(--body-font) !important; 
}
nav .container{
    background: white !important;
    box-shadow: 0px 3px 11px -7px black;
    padding: 10px 0px;
    padding-right: 5px;
    height: 100%;
    margin-top: -10px;
}
nav .container button{
    border: 1px solid red;
}
nav .container button:hover{
    border: 1px solid black;
    cursor: pointer;
    background: black;
    color: white;
}
.navbar-toggler{
    background: black;
}
.nav-link{
    color: black !important;
}
.dropdown-toggle::after{
    display: none !important;
}
nav .container #logo{
    width: 150px;
    padding: 8px;
}
nav .container .nav-item{
    margin-right: 10px;
}


/* ============================================================================
                    Nav part end here
=============================================================================*/

/* ============================================================================
                    Body part start here
=============================================================================*/


/* ============================================================================
                    Contact part start here
=============================================================================*/
#contact{
    margin-top: 30px;
}
#contact .container{
    -webkit-box-shadow: 0px 14px 8px -3px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 14px 8px -3px rgba(0,0,0,0.12);
    box-shadow: 0px 14px 8px -3px rgba(0,0,0,0.12);
}
#contact .text{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
}
#contact .details{
    background: white;
    padding: 30px 100px;
}
#contact .details h5{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
#contact .details p{
    line-height: .5;
    font-size: 15px;
    font-weight: 400;
}
#contact .details a{
    color: black !important;
}
#contact .details a:hover{
    cursor: pointer;
    color: blue !important;
    font-weight: 500;
}
/* ============================================================================
                    Contact part end here
=============================================================================*/


/* =====================================================================
                   Faq Part start here
=======================================================================*/

/* ==========================Faq__left start here========================== */
#faq{
    margin-bottom: 100px;
    position: relative;
    margin-top: 50px;
}
#faq .container .content__left{
    padding-left: 35px;
}
#faq .container .content__left h2{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 700;
}
#faq .container .content__left .line{
    width: 155px;
    height: 2px;
    background: red;
    margin: 10px 0;
}
#faq .container .content__left .text{
    color: #555;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 10px 0;
    text-align: left !important;
    line-height: 1.6;
    padding-right: 110px;
    margin-bottom: 30px;
}

/* ==========================Accordion start here========================== */

#faq .accordion-button::after{
    display: none;
}
#faq .accordion-button{
    color: white;
    background-color: red;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
}
#faq .collapsed{
    color: #000;
    background-color: rgba(255, 0, 0, .125);
    line-height: 1.3;
    color: #232323;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    position: relative;
}
#faq .accordion-button i{
    font-size: 20px;
    position: absolute;
    right: 20px;
    transform: rotate(90deg);
}
#faq .collapsed i{
    transform: rotate(0deg);
}
#faq .accordion-body a{
    color: black !important ;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    }


/* ==========================Accordion end here========================== */


/* ==========================Faq__left end here========================== */

/* ==========================Faq__right start here========================== */
#faq .container .content__right{
    padding-left: 35px;
}
#faq .container .content__right h2{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 700;
}
#faq .container .content__right .line{
    width: 155px;
    height: 2px;
    background: red;
    margin: 10px 0;
}
#faq .container .content__right .text{
    color: #555;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 10px 0;
    text-align: left !important;
    line-height: 1.6;
    padding-right: 110px;
    margin-bottom: 30px;
}

/* ==========================Faq__right end here========================== */


/* =====================================================================
                   Faq Part end here
=======================================================================*/


/* ============================================================================
                    Body part end here
=============================================================================*/

/* ============================================================================
                   Footer Part start here
=============================================================================*/

/* ==================================Footer Top start here============================= */
footer{
    margin-top: 200px;
}
footer .footer__top{
    background: red;
    margin-top: -16px !important;
    width: 100%;
}
footer .footer__top i{
    font-size: 25px;
    padding: 16px;
    color: white;
    background-color: red;
    border-radius: 50%;
    position: relative;
}
footer .footer__top .row a{
    text-decoration: none;
    color: white;
}
footer .footer__top .row ul{
    max-width: 350px;
    margin: 0 auto;
    box-shadow: 0px 5px 4px 0px black;
}

footer .footer__top i::before{
    background: red;
    position: absolute;
    padding: 16px;
    border-radius: 50%;
    right: -10px;
    bottom: 4px;
    -webkit-box-shadow: 0px 10px 18px 0px rgb(0 0 0 / 48%);
    -moz-box-shadow: 0px 10px 18px 0px rgba(0,0,0,0.48);
    box-shadow: 0px 3px 3px 0px rgb(0 0 0 / 48%);
}
/* ==================================Footer Top end here============================= */

/* ==================================Footer Bottom start here============================= */
footer .main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer .main a{
    border: 2px solid white !important;
    color: white !important;
    transition: ease-in-out .5s;
    font-weight: 500;
}
footer .main a:hover{
    border: 2px solid red !important;
    cursor: pointer;
    color: red !important;
    background: white;
}
footer #copyright{
    text-decoration: none;
    color: white;
}

/* ==================================Footer Bottom end here============================= */


/* ============================================================================
                    Footer part end here
=============================================================================*/