/* ============================================================================
                    Global Variable start here
=============================================================================*/
:root {
  --title-font: "Roboto Slab", serif !important;
  --body-font: "Poppins", sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none !important;
}
p {
  font-family: var(--body-font) !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font) !important;
}
ul li {
  list-style: none !important;
}
/* ============================================================================
                      Global Variable end here
  =============================================================================*/

/* ============================================================================
                      Header Dropdown Hover start here
  =============================================================================*/
@media all and (min-width: 992px) {
  .dropdown-item {
    padding: 0.4rem 1rem !important;
    border-bottom: 1px solid black !important;
    font-weight: 500 !important;
  }
  .dropdown-menu {
    padding: 0rem 0 !important;
  }
  .navbar .nav-item .dropdown-menu {
    display: none;
    margin-top: 0;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
    font-weight: 700;
  }
  .navbar .nav-item:hover .dropdown-menu .dropdown-item:hover {
    background: red;
    color: white;
  }
}
/* ============================================================================
                    Header Dropdown Hover end here
  =============================================================================*/

/* ============================================================================
                      Header part end here
  =============================================================================*/
header .container {
  background: black !important;
  padding: 5px 0;
}
header .header__left {
  color: white !important;
  font-family: var(--body-font);
  font-size: 13px;
  margin-top: 2px;
  font-weight: 500;
}
header .header__left i {
  padding: 0px 8px;
}
header .header__right {
  color: white !important;
  text-align: right;
  font-family: var(--body-font);
  font-size: 13px;
  margin-top: 2px;
  font-weight: 500;
}
header .header__right a {
  color: white;
  padding: 15px;
}
/* ============================================================================
                      Header part end here
  =============================================================================*/
/* ============================================================================
                      Nav part start here
  =============================================================================*/
.navbar {
  font-family: var(--body-font) !important;
  font-weight: 700;
  font-size: 17px;
}
nav .container {
  background: white !important;
  box-shadow: 0px 3px 11px -7px black;
  padding: 10px 0px;
  padding-right: 5px;
  height: 100%;
  margin-bottom: -8px;
  margin-top: -10px;
}
nav .container button {
  border: 1px solid red;
  font-weight: 700;
}
nav .container button:hover {
  border: 1px solid black;
  cursor: pointer;
  background: black;
  color: white;
}
.navbar-toggler {
  background: black;
}
.nav-link {
  color: black !important;
}
.dropdown-toggle::after {
  display: none !important;
}
nav .container #logo {
  width: 150px;
  padding: 8px;
}
nav .container .nav-item {
  margin-right: 10px;
}

/* ============================================================================
                      Nav part end here
  =============================================================================*/

/* ============================================================================
                      Body part start here
  =============================================================================*/
/* ==========================PAC Projects Top auto typing start here========================== */
#pacProjects {
  padding-top: 10px;
  background: #f8f8f8ab !important ;
  padding-bottom: 80px;
}
.desigining {
  display: flex;
  align-items: center;
  padding: 10px 0px;
}
.desigining p {
  font-size: 2rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.desigining p span.typed-text {
  font-weight: 600;
  color: red;
}
.desigining p span.cursor {
  display: inline-block;
  background-color: black;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.desigining p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: black;
  }
  49% {
    background-color: black;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: black;
  }
}
/* ==========================PAC projects Top auto typing end here========================== */
#pacProjects .container {
  width: 100%;
  margin: 0 auto;
}
.desigining {
  text-align: center;
}
.paragraph {
  font-family: var(--body-font);
  font-size: 18px;
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  max-width: 1100px;
  margin-top: -10px;
}
.members {
  font-family: var(--body-font);
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 800px;
}
.members li i {
  color: black;
  margin-right: 10px;
  font-size: 15px;
  transition: all ease-in-out 2s;
}
.members li:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* ============================================================================
                      Body part end here
  =============================================================================*/

/* =================================================================
                    Footer part start here
  ================================================================== */

/* ==================================Footer Top start here============================= */
footer .footer__top {
  background: red;
  margin-top: -16px !important;
  width: 100%;
}
footer .footer__top i {
  font-size: 25px;
  padding: 16px;
  color: white;
  background-color: red;
  border-radius: 50%;
  position: relative;
}
footer .footer__top .row a {
  text-decoration: none;
  color: white;
}
footer .footer__top .row ul {
  max-width: 350px;
  margin: 0 auto;
  box-shadow: 0px 5px 4px 0px black;
}

footer .footer__top i::before {
  background: red;
  position: absolute;
  padding: 16px;
  border-radius: 50%;
  right: -10px;
  bottom: 4px;
  -webkit-box-shadow: 0px 10px 18px 0px rgb(0 0 0 / 48%);
  -moz-box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.48);
  box-shadow: 0px 3px 3px 0px rgb(0 0 0 / 48%);
}
/* ==================================Footer Top end here============================= */

/* ==================================Footer Bottom start here============================= */
footer .main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .main a {
  border: 1px solid rgba(255, 255, 255, 0.8) !important;
  color: rgba(255, 255, 255, 0.8) !important;
  transition: ease-in-out 0.5s;
  font-weight: 500;
}
footer .main a:hover {
  border: 1px solid red !important;
  cursor: pointer;
  color: black !important;
  background: white;
}
footer #copyright {
  text-decoration: none;
  color: white;
}

/* ==================================Footer Bottom end here============================= */

/* =================================================================
                      Footer part end here
  ================================================================== */
