/* ============================================================================
                    Global Variable start here
=============================================================================*/
:root {
  --title-font: "Roboto Slab", serif !important;
  --body-font: "Poppins", sans-serif !important;
  --body-background: hsl(0, 0%, 95%) !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none !important;
}
p {
  font-family: var(--body-font) !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font) !important;
}
ul li {
  list-style: none !important;
}
/* ============================================================================
                    Global Variable end here
=============================================================================*/

/* ============================================================================
                    Header Dropdown Hover start here
=============================================================================*/
@media all and (min-width: 992px) {
  .dropdown-item {
    padding: 0.4rem 1rem !important;
    border-bottom: 1px solid black !important;
    font-weight: 500 !important;
  }
  .dropdown-menu {
    padding: 0rem 0 !important;
  }
  .navbar .nav-item .dropdown-menu {
    display: none;
    margin-top: 0;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
    font-weight: 700;
  }
  .navbar .nav-item:hover .dropdown-menu .dropdown-item:hover {
    background: red;
    color: white;
  }
}
/* ============================================================================
                  Header Dropdown Hover end here
=============================================================================*/

/* ============================================================================
                    Header part end here
=============================================================================*/
header .container {
  background: black !important;
  padding: 5px 0;
}
header .header__left {
  color: white !important;
  font-family: var(--body-font);
  font-size: 13px;
  margin-top: 2px;
  font-weight: 500;
}
header .header__left i {
  padding: 0px 8px;
}
header .header__right {
  color: white !important;
  text-align: right;
  font-family: var(--body-font);
  font-size: 13px;
  margin-top: 2px;
  font-weight: 500;
}
header .header__right a {
  color: white;
  padding: 15px;
}
/* ============================================================================
                    Header part end here
=============================================================================*/

/* ============================================================================
                    Nav part start here
=============================================================================*/
.navbar {
  font-family: var(--body-font) !important;
  font-weight: 700;
  font-size: 17px;
}
nav .container {
  background: white !important;
  box-shadow: 0px 3px 11px -7px black;
  padding: 10px 0px;
  padding-right: 5px;
  height: 100%;
  margin-top: -10px;
  margin-bottom: -8px;
}
nav .container button {
  border: 1px solid red;
  font-weight: 700;
}
nav .container button:hover {
  border: 1px solid black;
  cursor: pointer;
  background: black;
  color: white;
}
.navbar-toggler {
  background: black;
}
.nav-link {
  color: black !important;
}
.dropdown-toggle::after {
  display: none !important;
}
nav .container #logo {
  width: 150px;
  padding: 8px;
}
nav .container .nav-item {
  margin-right: 10px;
}

/* ============================================================================
                    Nav part end here
=============================================================================*/

/* ============================================================================
                    Marquee start here
=============================================================================*/
#marquee .container {
  font-family: var(--body-font) !important;
  overflow: hidden;
}
#marquee .container .liner #scroll__news {
  margin-top: 7px;
}
.liner {
  width: 100%;
  height: 40px;
  margin: -5px 0px -10px 0px;
}
marquee {
  font-size: 15px;
}
marquee a {
  text-decoration: none;
  color: black;
}

/* ============================================================================
                    Marquee end here
=============================================================================*/

/* ============================================================================
                    Body Slider start here
=============================================================================*/
#slider .container {
  width: 100%;
  max-height: 550px;
  background: url(../images/sliders/sliderBackground.jpg) no-repeat center;
  background-size: cover;
}
.slider {
  margin: 0 auto;
  width: 90%;
  height: 626px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
.slider .text {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 76px;
  z-index: 5;
  align-items: center;
  line-height: 1;
}
.text h5 {
  font-family: var(--title-font);
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  font-weight: 700;
  margin-bottom: 5px;
}
.text .textMessage {
  font-family: var(--body-font);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.slider .image {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateX(100%);
}
.slider .active {
  transform: translateX(0);
}
.image img {
  width: 100%;
  height: 100%;
}
.prev {
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 25px;
  left: 0;
  top: 250px;
  margin-left: 20px;
  background: rgba(255, 255, 255, 0.45);
  transition: 0.5s all ease-in-out;
}
.prev:hover {
  cursor: pointer;
  background: white;
}
.next {
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 25px;
  top: 250px;
  right: 0;
  margin-right: 20px;
  background: rgba(255, 255, 255, 0.45);
  transition: 0.5s all ease-in-out;
}
.next:hover {
  cursor: pointer;
  background: white;
}
.smooth {
  transition: 0.5s all ease-in-out;
}
/* ============================================================================
                    Body Slider end here
=============================================================================*/

/* ============================================================================
                    Demo Services part start here
=============================================================================*/
#demoServices .container {
  margin-top: 160px;
  margin-bottom: 70px;
}
#demoServices .container .main {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 auto;
}
#demoServices .container .main a {
  color: none;
}
#demoServices .container .card {
  padding: 5px;
  background: black;
  color: red;
  border-top: 4px solid red !important;
  transition: ease-in 0.5s;
}
#demoServices .container .card:hover {
  background: red !important;
  color: white !important;
  cursor: pointer;
  border-top: 4px solid black !important;
  transform: translateY(-10%);
}
#demoServices .container .card .card-body {
  padding: 22px;
}
#demoServices .container .card .card-body h5 {
  color: white;
}
#demoServices .container .card .card-body p {
  color: white;
}
#demoServices .container .card .card-body span i {
  font-size: 45px;
  transition: ease-in 0.5s;
  color: red;
}
#demoServices .container .card:hover .card-body span i {
  color: white;
}
#demoServices .container .card .card-body h5 {
  padding-top: 20px;
}
/* ============================================================================
                   Demo Services part end here
=============================================================================*/

/* ============================================================================
                    Counter part start here
=============================================================================*/
#counter {
  background: url(../images/sliders/loginbg.jpg) no-repeat center fixed;
  background-size: cover;
}
#counter .overlay {
  height: 100%;
  background: rgba(255, 0, 0, 0.6);
  text-align: center;
  align-items: center;
  padding: 125px;
}
#counter .item h1 {
  font-family: "Poppins", sans-serif;
  font-size: 74px;
  font-weight: 700;
  color: white;
}
#counter .item p {
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
}
#counter .count {
  display: flex;
  justify-content: center;
}
#counter .count .counting {
  margin-right: 5px;
}

/* ============================================================================
                    Counter part end here
=============================================================================*/

/* ============================================================================
                    Offering part start here
=============================================================================*/

/* ==========================Offer Top auto typing start here========================== */
#offer {
  margin-top: 50px;
  background: #f8f8f8ab !important ;
  padding-bottom: 100px;
}
.desigining {
  display: flex;
  align-items: center;
  padding: 25px 0px;
}
.desigining p {
  font-size: 2rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.desigining p span.typed-text {
  font-weight: 600;
  color: red;
}
.desigining p span.cursor {
  display: inline-block;
  background-color: black;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.desigining p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: black;
  }
  49% {
    background-color: black;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: black;
  }
}
/* ==========================Offer Top auto typing end here========================== */

/* ==========================Offer__left start here========================== */
#offer .container .top {
  padding-bottom: 30px;
}
#offer .container .top__left h2 {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  font-weight: 700;
  width: 450px;
  padding: 27px 0px;
}
#offer .container .top__right .offerDetail {
  color: #555;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  padding: 15px 50px;
  border-left: 4px solid red;
  padding-left: 40px;
}
/* ==========================Offer__left end here========================== */

/* ==========================Offer__right start here========================== */

#offer .bottom .item {
  background: rgba(211, 211, 211, 0.6);
  text-align: center;
  margin-bottom: 25px;
  padding: 50px 0px;
  color: red;
  transition: all ease-in 0.4s;
}
#offer .bottom .item i {
  font-size: 50px;
  color: red;
  transition: all ease-in 0.4s;
}
#offer .bottom .item h4 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin: 22px 0;
  transition: all ease-in 0.4s;
  color: #000;
}
#offer .bottom .item p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 27px;
  transition: all ease-in 0.4s;
  color: #555;
}
#offer .bottom .item:hover {
  background: black;
  border-radius: 5px;
}
#offer .bottom .item:hover i {
  color: white;
}
#offer .bottom .item:hover h4 {
  color: white;
}
#offer .bottom .item:hover p {
  color: white;
}

/* ==========================Offer__right end here========================== */

/* ============================================================================
                    Offering part end here
=============================================================================*/

/* ============================================================================
                    Services part start here
=============================================================================*/
#services {
  padding: 50px 0;
  background: var(--body-background);
}
#services .container .main {
  padding-top: 30px;
}
#services .container .main .main__top #text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  align-items: center;
}
#services .container .main .main__top #text p {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1000px;
}
#services .container .main .main__top #text .line {
  width: 100px;
  height: 2px;
  background: red;
  margin: 5px 0px 15px 0px;
}
#services .container .main__bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
#services .container .main__bottom .card {
  margin: 5px;
}
#services .container .main__bottom .card .btn {
  width: 100%;
  transition: ease-in 0.5s;
}
#services .container .main__bottom .card .btn:hover {
  background: red;
  color: white;
  font-weight: 600;
}
/* ============================================================================
                    Services part end here
=============================================================================*/

/* ============================================================================
                    Business part start here
=============================================================================*/

/* ==========================content__left start here========================== */
#business {
  padding-top: 100px;
}
#business .container .content__left img {
  width: 100%;
}
#business .container .content__left .text {
  background: red;
  color: white;
  width: 100%;
  padding: 20px 0;
}
#business .container .content__left .text h1 {
  font-family: var(--title-font);
  font-size: 74px;
  text-align: center;
  font-weight: 700;
}
#business .container .content__left .text p {
  font-family: var(--body-font);
  font-size: 22px;
  text-align: center;
}
/* ==========================content__left end here========================== */

/* ==========================content__right start here========================== */
#business {
  margin-bottom: 100px;
}
#business .container .content__right {
  padding-left: 35px;
}
#business .container .content__right h2 {
  font-family: var(--title-font);
  font-size: 42px;
  font-weight: 700;
}
#business .container .content__right .line {
  width: 80px;
  height: 3px;
  background: #ea3a60;
  margin: 10px 0;
}
#business .container .content__right .text {
  color: #555;
  font-family: var(--body-font);
  font-size: 16px;
  padding: 20px 0;
  text-align: left !important;
  line-height: 1.6;
}
#business .container .content__right .text p {
  margin-bottom: 10px;
}
#business .container .content__right a {
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 500;
  color: red;
  display: inline-block;
  padding: 13px 35px;
  border: 1px solid red;
  border-radius: 3px;
  margin-top: 40px;
  transition: ease-in 0.5s;
}
#business .container .content__right a:hover {
  background: red;
  color: white;
}

/* ==========================content__right end here========================== */

/* ============================================================================
                    Business part end here
=============================================================================*/

/* ============================================================================
                    Country Value part start here
=============================================================================*/
#countryValue {
  margin-bottom: 100px;
  background: var(--body-background);
}
#countryValue .container {
  padding: 100px 0;
}
#countryValue .top {
  text-align: center;
}
#countryValue .top h5 {
  font-size: 15px;
  font-weight: 700;
}
#countryValue .top h3 {
  font-weight: 700;
  font-size: 40px;
  color: red;
  margin: 10px 0;
}
#countryValue .top p {
  font-size: 15px;
}
#countryValue .bottom {
  margin-top: 20px;
  overflow: hidden;
}
#countryValue .bottom .item__1 {
  background: url(../images/countryValue/value__1.jpg) no-repeat center;
  background-size: cover;
  height: 200px;
  transform: scale(1);
  transition: all ease-in-out 0.9s;
}
#countryValue .bottom .item__1:hover {
  transform: scale(1.1);
  cursor: move;
}
#countryValue .bottom .item__2 {
  background: url(../images/countryValue/value__2.jpg) no-repeat center;
  background-size: cover;
  height: 200px;
  transform: scale(1);
  transition: all ease-in-out 0.9s;
}
#countryValue .bottom .item__2:hover {
  transform: scale(1.1);
  cursor: move;
}
#countryValue .bottom .item__3 {
  background: url(../images/countryValue/value__3.jpg) no-repeat center;
  height: 200px;
  background-size: cover;
  transform: scale(1);
  transition: all ease-in-out 0.9s;
}
#countryValue .bottom .item__3:hover {
  transform: scale(1.1);
  cursor: move;
}
#countryValue .bottom .item__4 {
  background: url(../images/countryValue/value__4.jpg) no-repeat center;
  height: 200px;
  background-size: cover;
  transform: scale(1);
  transition: all ease-in-out 0.9s;
}
#countryValue .bottom .item__4:hover {
  transform: scale(1.1);
  cursor: move;
}
#countryValue .bottom .item__5 {
  background: url(../images/countryValue/value__5.jpg) no-repeat center;
  height: 200px;
  background-size: cover;
  transform: scale(1);
  transition: all ease-in-out 0.9s;
}
#countryValue .bottom .item__5:hover {
  transform: scale(1.1);
  cursor: move;
}
#countryValue .bottom .item__6 {
  background: url(../images/countryValue/value__6.jpg) no-repeat center;
  height: 200px;
  background-size: cover;
  transform: scale(1);
  transition: all ease-in-out 0.9s;
}
#countryValue .bottom .item__6:hover {
  transform: scale(1.1);
  cursor: move;
}
#countryValue .bottom .overlay {
  background: rgba(85, 85, 85, 0.25);
  height: 100%;
  text-align: center;
}
#countryValue .bottom .overlay .text {
  color: white;
  display: inline-block;
  padding-top: 60px;
}
#countryValue .bottom .overlay .text h5 {
  font-size: 25px;
  font-weight: 700;
}
#countryValue .bottom .overlay .text p {
  font-weight: 600;
  font-size: 15px;
}
/* ============================================================================
                    Country Value part end here
=============================================================================*/

/* ============================================================================
                    Clients part start here
=============================================================================*/
#client {
  margin-bottom: 100px;
  background: white;
}
#client {
  margin-bottom: 100px;
}
#client .top {
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
}
#client .top h2 {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 7px;
}
#client .top .line {
  width: 80px;
  height: 2px;
  background: #ea3a60;
  margin: 0 auto;
}
#client .top p {
  color: #555;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center !important;
  line-height: 1.6;
  max-width: 750px;
  margin: 0 auto;
  margin-top: 20px;
}
/* ==========================Client Bottom start here========================== */
#client .box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  height: 350px;
  background: rgba(255, 0, 0, 0.1);
  overflow: hidden;
}
#client .details {
  box-shadow: 0px 0px 15px 0px rgb(122 125 134 / 10%);
  border: 1px solid #f2f2f2;
  padding: 50px 25px;
  height: 250px;
  width: 90%;
  transform: scale(1);
  transition: all ease-in-out 0.5s;
  overflow: hidden;
  margin-left: 20px;
}
#client .details:hover {
  cursor: pointer;
  transform: scale(1.1);
  background: white;
}
#client .details .left {
  height: 100%;
}
#client .details .left p {
  color: #555;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 27px;
  padding-left: 25px;
}
#client .details .right {
  text-align: right;
  padding-right: 19px;
  position: relative;
}
#client .details .right h6 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #555;
  margin-top: 18px;
}
#client .details .right p {
  color: #555;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 27px;
  text-transform: uppercase;
}
#client .details .right .coma {
  position: absolute;
  transform: rotate(180deg);
  width: 35px;
  top: -38px;
  right: 0;
}

/* ============================================================================
                    Clients part end here
=============================================================================*/

/* ============================================================================
                   Footer Part start here
=============================================================================*/

/* ==================================Footer Top start here============================= */
footer .footer__top {
  background: red;
  margin-top: -16px !important;
  width: 100%;
}
footer .footer__top i {
  font-size: 25px;
  padding: 16px;
  color: white;
  background-color: red;
  border-radius: 50%;
  position: relative;
}
footer .footer__top .row a {
  text-decoration: none;
  color: white;
}
footer .footer__top .row ul {
  max-width: 350px;
  margin: 0 auto;
  box-shadow: 0px 5px 4px 0px black;
}

footer .footer__top i::before {
  background: red;
  position: absolute;
  padding: 16px;
  border-radius: 50%;
  right: -10px;
  bottom: 4px;
  -webkit-box-shadow: 0px 10px 18px 0px rgb(0 0 0 / 48%);
  -moz-box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.48);
  box-shadow: 0px 3px 3px 0px rgb(0 0 0 / 48%);
}
/* ==================================Footer Top end here============================= */

/* ==================================Footer Bottom start here============================= */
footer .main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .main a {
  border: 1px solid rgba(255, 255, 255, 0.8) !important;
  color: rgba(255, 255, 255, 0.8) !important;
  transition: 0.5s ease-in-out;
  font-weight: 500;
}
footer .main a:hover {
  border: 1px solid red !important;
  cursor: pointer;
  color: black !important;
  background: white;
}
footer #copyright {
  text-decoration: none;
  color: white;
}

/* ==================================Footer Bottom end here============================= */

/* ============================================================================
                    Footer part end here
=============================================================================*/
/* ============================================================================
                    Scroll part start here
=============================================================================*/
#mybutton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  border: none !important;
  border-radius: 0 !important;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}
#mybutton:hover {
  background: black !important;
}
.btn-danger {
  color: #fff;
  background-color: red !important;
}
/* ============================================================================
                    Scroll part end here
=============================================================================*/
